<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>movies</title>
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
</head>
<body>
  <div class="container" style="padding-top: 40px;">
    <nav class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" href="/ ">Home</a >
      </li>
    <li class="nav-item">
        <a class="nav-link active" href="/product">Check All Cuisine</a >
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/addNew">111</a >
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/vendors">Check Cuisine</a >
      </li>
  </nav>
  
   <div>
     <p>
    <%= message %>
    </p>
    
    <ul class="list-group">
      
      <% foot.shoes.forEach(function(item) { %>
      <div class="card">
        <li class="list-group-item">ID: <%= item.id %></li>
        <li class="list-group-item">NAME: <%= item.name %></li>
        <li class="list-group-item">BRAND: <%= item.brand %></li>
        <li class="list-group-item">PRICE: <%= item.price %></li>
        <li class="list-group-item">IMAGE: <%= item.shoeUrl %></li>
        <li class="list-group-item"><img src=<%= item.shoeUrl %> </li>
        
        
      </div>
      <br>
      <% }) %>
     
    </ul>
    
  </div>
    
  </div>
</body>
</html>
