<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cart</title>
 <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
      crossorigin="anonymous"
  />
</head>
<body>
  
  
  <div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light text-light bg-warning fixed-top">
  
  <h2 style="color:black;">&nbsp;&nbsp;Pitts Restaurant&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
    
  <div class="collapse navbar-collapse" id="navbarResponsive">      
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/product">Menu</a></li>
      <li class="nav-item"><a class="nav-link" href="/type">Type</a></li>
    </ul>
        
     <ul class="navbar-nav ml-auto"> 
         <li class="nav-item"><a class="nav-link active" href="/myCart">My Cart</a ></li>
          <li class="nav-item"><a class="nav-link" href="/mine">My Profile</a ></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
    </ul>
 </div>
</nav>
</div>
    <br/><br/><br/><br/>
     <% if (list) { %>
  <p style="text-align:center;">There are <%= list.length %> products in the Cart.</p>
   <div class="row justify-content-center">
     <div class ="row" style='width:100%'>
       <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
      <div class="table-responsive">
    
     <table class="table table-bordered" style="max-width:90%;">
      <% list.forEach(function(product){ %>
      <tr><td >NAME: <%= product.name %></td></tr>
      <tr><td>PRICE: <%= product.price %></td></tr>
      <tr><td>Quantity: <%= product.origin.length %> </td></tr>
      <tr><td colspan="2" align="center"><form action="/updateCart?id=<%= product.id %>" method="POST">
        <button class="btn btn-secondary btn-lg btn-block btn-warning" type="submit">
          Delete Item 
        </button>
        
         </form></td></tr>
      
  <% }); %>
    </table></div></div>
        <div class="col-lg-auto col-md-auto col-sm-10 col-xs-10">
      <div class="table-responsive text-center">
          <table class="table table-bordered" style="max-width:95%;">
      <tr><td ><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Summary&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2></td></tr>
      <tr><td>Total Price: <%= total_price %></td></tr>
      <tr><td align="center"><form action="/clearCart" method="POST">
         <button class="btn btn-secondary btn-lg btn-block btn-warning" type="submit">
           Clear Cart
         </button>
    </form></td></tr>
      <tr><td align="center"><form action="/payCart" method="POST">
        
        <button class="btn btn-secondary btn-lg btn-block btn-warning" type="submit">
           Pay Cart
        </button>
        <tr><td><%= payment_message %></td></tr>
        
    </form></td></tr>
            
    </table> </div></div></div></div>
    <% } else { %>
    <p>No products in the Cart.</p>
    <% } %>
    
  
   

    
  <br/><br/><br/><br/>
  
</body>
</html>
