<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shoes</title>
  <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
      crossorigin="anonymous"
  />
</head>
<body>
  
  
  <div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light text-light bg-warning fixed-top">
  
  <h2 style="color:black;">&nbsp;&nbsp;Pitts Restaurant&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
    
  <div class="collapse navbar-collapse" id="navbarResponsive">      
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
      <li class="nav-item"><a class="nav-link active" href="/product">Menu</a></li>
    </ul>
        
     <ul class="navbar-nav ml-auto"> 
        <li class="nav-item"><a class="nav-link" href="/myCart">My Cart</a ></li>
          <li class="nav-item"><a class="nav-link" href="/mine">My Profile</a ></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
    </ul>
 </div>
</nav>
</div>
    <br/><br/><br/><br/>
    
  
  
  
  
   <div class="row justify-content-center">
     
     <% if (product) { %>
    <p>There are <%= product.length %> cuisines in the menu.</p>
   <table class="table table-bordered" style="max-width:80%;">
      <% product.forEach(function(product){ %>
      <tr>
        <td width="60%" rowspan="4"><img src=<%= product.shoeUrl %> 
                  alt="Screenshots of the games" width="100%"></td>
        <td >ID: <%= product.id %></td></tr>
      <tr><td >NAME: <%= product.name %></td></tr>
      <% if (product.brand =='1') { %><tr><td>BRAND: Noodles & Pasta</td></tr> <% } %>
     <% if (product.brand =='2') { %><tr><td>BRAND: Main Dishes</td></tr> <% } %>
     <% if (product.brand =='3') { %><tr><td>BRAND: Dessert</td></tr> <% } %>
     <% if (product.brand =='4') { %><tr><td>BRAND: Appetizers</td></tr> <% } %>
     <% if (product.brand =='5') { %><tr><td>BRAND: Soup</td></tr> <% } %>
     <% if (product.brand =='6') { %><tr><td>BRAND: Poultry & Eggs</td></tr> <% } %>
      <tr><td>PRICE: <%= product.price %></td></tr>
      
 <tr><td colspan="2" align="center"><form action="/addCart?id=<%= product.id %>" method="POST">
   
         <button class="btn btn-warning btn-secondary btn-lg btn-block" type="submit">
           Add to Cart
         </button>
       </form></td></tr>
  <% }); %>
    </table>
    <% } else { %>
    <p>No cuisines in the menu.</p>
    <% } %>
    
  </div>
    <br/><br/><br/><br/>

</body>
</html>
