<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shoes</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
      crossorigin="anonymous">
</head>
<body>
  
  
  <div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  
  <h2 style="color:white;">&nbsp;&nbsp;Venom&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
    
  <div class="collapse navbar-collapse" id="navbarResponsive">      
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/product">Menu</a></li>
      <li class="nav-item"><a class="nav-link active" href="/vendors">Types</a></li>
    </ul>
        
     <ul class="navbar-nav ml-auto"> 
         <li class="nav-item"><a class="nav-link" href="/myCart">My Cart</a ></li>
          <li class="nav-item"><a class="nav-link" href="/mine">My Profile</a ></li>
          <li class="nav-item"><a class="nav-link" href="/dashboard">Log out</a></li>
    </ul>
 </div>
</nav>
</div>
    <br/><br/><br/><br/>
    
     <% if (vendor) { %>
    <p style="text-align:center;">There are <%= vendor.length %> vendors in the database.</p>
  <div class="row justify-content-center">  
  <table class="table">
        <% vendor.forEach(function(vendor){ %>
     <div class="card" style="width:60%;">
        <li class="list-group-item">ID: <%= vendor.id %></li>
        <li class="list-group-item">NAME: <%= vendor.name %></li>
        <li class="list-group-item">EMAIL: <%= vendor.email %></li>
        <li class="list-group-item">TEL: <%= vendor.tel %></li>
        <li class="list-group-item">Sign: <%= vendor.sign %></li>
        
      </div>
        <% }); %>
      </tbody>
    </table> </div>
    <% } else { %>
    <p>No vendors in the database.</p>
    <% } %>
    
<br/><br/><br/><br/>
<footer class="container-fluid bg-dark">
<p class="m-0 text-center text-white">Copyright &copy; Venom 2020</p>
</footer>
</body>
</html>
